<% if @article.errors.any? %>
	<h2>The following errors prevented the article from being saved.</h2>
		<ul>
			<% @article.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
<% end %>

<!-- The scope: :article changes, because :article provides me with an empty form. I need something different. Existing information. -->

<!-- We replace scope: with model: because rails, when it sees the model, will pre-fill the empty information  -->
<!-- The below will work for both NEW and EDIT, thus it is what I snip out for my partial -->
<%= form_with(model: @article, local: true ) do |f|%>
	<p>
		<%= f.label :title %>
	</p>

	<p>
		<%= f.text_field :title %>
	</p>

		<p>
		<%= f.label :description %>
	</p>

	<p>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit%>
	</p>

<% end %>