<!DOCTYPE html>
<html>
  <head>
    <title>Alphablog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheet link tag links to App/StyleShets/Application.css -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Javascript pack tag links to Javascript/Packs/Application.js -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar'%>
    <% render 'layouts/messages'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
